<app-search (onTyping)="search = $event" [value]="search"></app-search>

<table class="table table-bordered">
   <thead>
      <tr>
         <th>OS</th>
         <th>Hora Iniciada</th>
         <th>Hora Finalizada</th>
         <th>Total de Horas</th>
         <th>Funcionários</th>
         <th>Matricula</th>
         <th>Descrição</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let dados of (dados_os | filter:search)">
         <td>{{ dados.os }}</td>
         <td>{{ dados.dataInicio }} ás {{ dados.horaInicio }}</td>
         <td>{{ dados.dataFim }} ás {{ dados.horaFim }}</td>
         <td>{{ dados.totalHoras }}</td>
         <td>{{ dados.funcionarios }}</td>
         <td>{{ dados.matricula }}</td>
         <td>{{ dados.descricao }}</td>
      </tr>
   </tbody>
</table>