<div class="container-fluid text-center mt-3">
   <div class="d-flex justify-content-end align-items-center mb-3">
      <label for="sel1" class="form-label me-2">Filtrar por data:</label>
      <div>
         <input class="form-control" type="date" class="dateadded form-control">
      </div>
   </div>
   <table id="dataTables-example" class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
      <thead>
         <tr>
            <th class="table-header">OS</th>
            <th class="table-header">Data InÍcio</th>
            <th class="table-header">Hora InÍcio</th>
            <th class="table-header">Data Fim</th>
            <th class="table-header">Hora Fim</th>
            <th class="table-header">Total Horas</th>
            <th class="table-header">Funcionários</th>
            <th class="table-header">Matrícula</th>
            <th class="table-header">Descrição</th>
         </tr>
      </thead>
      <tbody>
       <tr *ngFor="let group of tabledata">
            <td class="table-item">{{group.os}}</td>
            <td class="table-item">{{group.dataInicio}}</td> 
            <td class="table-item">{{group.horaInicio}}</td>
            <td class="table-item">{{group.dataFim}}</td>
            <td class="table-item">{{group.horaFim}}</td>
            <td class="table-item">{{group.totalHoras}}</td>
            <td class="table-item">{{group.funcionarios}}</td>
            <td class="table-item">{{group.matricula}}</td>
            <td class="table-item">{{group.descricao}}</td>
         </tr>
      </tbody>
   </table>
</div>