<!-- <app-search (onTyping)="search = $event" [value]="search"></app-search>

<table class="table table-bordered">
   <thead>
      <tr>
         <th>OS</th>
         <th>Hora Iniciada</th>
         <th>Hora Finalizada</th>
         <th>Total de Horas</th>
         <th>Funcionários</th>
         <th>Matricula</th>
         <th>Descrição</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let dados of (dados_os | filter:search)">
         <td>{{ dados.os }}</td>
         <td>{{ dados.dataInicio }} ás {{ dados.horaInicio }}</td>
         <td>{{ dados.dataFim }} ás {{ dados.horaFim }}</td>
         <td>{{ dados.totalHoras }}</td>
         <td>{{ dados.funcionarios }}</td>
         <td>{{ dados.matricula }}</td>
         <td>{{ dados.descricao }}</td>
      </tr>
   </tbody>
</table> -->

<div class="container-fluid text-center mt-3">
   <div class="d-flex justify-content-start">
      <div class="col-sm-3 mb-3">
         <div class="form-group">
            <label for="sel1" class="form-label">Filtrar por data:</label>
            <input class="form-control" type="date" class="dateadded form-control">
         </div>
      </div>
   </div>
   <table id="dataTables-example" class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
      <thead>
         <tr>
            <th>OS</th>
            <th>Data InÍcio</th>
            <th>Hora InÍcio</th>
            <th>Data Fim</th>
            <th>Hora Fim</th>
            <th>Total Horas</th>
            <th>Funcionarios</th>
            <th>Matrícula</th>
            <th>Descriçaão</th>
         </tr>
      </thead>
      <tbody>
       <tr *ngFor="let group of tabledata">
            <td>{{group.os}}</td>
            <td>{{group.dataInicio}}</td> 
            <td>{{group.horaInicio}}</td>
            <td>{{group.dataFim}}</td>
            <td>{{group.horaFim}}</td>
            <td>{{group.totalHoras}}</td>
            <td>{{group.funcionarios}}</td>
            <td>{{group.matricula}}</td>
            <td>{{group.descricao}}</td>
         </tr>
      </tbody>
   </table>
</div>