<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
               <a class="nav-link fs-5 text-light" [routerLink]="['']">Início</a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle fs-5 text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Manutenção
               </a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" [routerLink]="['engeman-gerencial']">Engeman</a></li>
                  <li><a class="dropdown-item" href="#">Outro</a></li>
                  <li><a class="dropdown-item" href="#">Outra coisa também</a></li>
               </ul>
            </li>
         </ul>
      </div>
   </div>
</nav>